@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$white: rgba(255,255,255,0.95);

.carolus-header {
  height: 20%;

  .carolus-title {
    text-align: left;
    padding: 1.5em;

    .carolus {
      font-weight: 500;
      white-space: nowrap;
    }

    .mini-text {
      font-size: 11pt;
      margin-left: 10%;
      white-space: nowrap;
    }
  }

  .emergency {
    padding: 2em;
    text-align: right;
    font-size: 12pt;
  }
}

.hospital {
  margin: auto;
  height: 10%;
  background-color: rgba(58,166,204,1);

  .nav-left {
    margin-left: 5%;
  }

  .left-items {
    color: $white;
    font-weight: 400;
    font-size: 14pt;
  }

  .right-items {
    font-weight: 400;
    font-size: 14pt;
  }

}

.megatron {
  width: 90%;
  max-height: 20%;
  margin: 1em auto;
}


