@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$white: rgba(255,255,255,0.95);

.carolus-header {
  height: 8em;

  .carolus {
    position: absolute;
    margin: 0.5em 1em 1em 1.5em;
    font-weight: 500;
  }

  #mini-text {
    position: absolute;
    font-size: 13pt;
    left: 6.5em;
    top: 3em;
    margin: 1em;
  }
}

.hospital {
  margin: auto;
  height: 4em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(58,166,204,1);

  .nav-left {
    margin-left: 4em;
  }

  .nav-right {
    margin-right: 4em;
  }

  .left-items {
    color: $white;
    font-weight: 400;
    font-size: 14pt;
  }

}

.megatron {
  margin-bottom: 2em;
  width: 100%;
  max-height: 30%;
}
