@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.carolus-header {
  height: 20%; }
  .carolus-header .carolus-title {
    text-align: left;
    padding: 1.5em; }
    .carolus-header .carolus-title .carolus {
      font-weight: 500;
      white-space: nowrap; }
    .carolus-header .carolus-title .mini-text {
      font-size: 11pt;
      margin-left: 10%;
      white-space: nowrap; }
  .carolus-header .emergency {
    padding: 2em;
    text-align: right;
    font-size: 12pt; }

.hospital {
  margin: auto;
  height: 10%;
  background-color: #3aa6cc; }
  .hospital .nav-left {
    margin-left: 5%; }
  .hospital .left-items {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    font-size: 14pt; }
  .hospital .right-items {
    font-weight: 400;
    font-size: 14pt; }

.megatron {
  width: 90%;
  max-height: 20%;
  margin: 1em auto; }
